@import "variables";

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $color-blanco;

    .parking-fluid {
        // border: 1px dashed red;
        height: 100vh;
        padding: 0;
        margin: 0;

        .parking-container {
            // border: 1px dashed crimson;
            height: 100%;
            padding: 0;
            margin: 0;

            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .parking-row {
                // border: 1px dashed blue;
                width: 100%;
                padding: 0;
                margin: 0;
            }

            .parking-row-sup {
                background-color: $color-azul;
                height: 10%;
                padding: 0;
                margin: 0;
                border-radius: 0px 0px 15px 15px;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .parking-saludo {
                    // border: 1px dashed orange;
                    width: 200px;
                    height: 50px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    p {
                        margin: 0px 0px 0px 10px;
                        padding: 0;
                        color: $color-blanco;
                        font-size: 20px;
                        font-family: $fuente-titulos;

                    }
                }

                .parking-menu {
                    // border: 1px dashed orange;
                    width: 100px;
                    height: 50px;

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;

                    img {
                        width: 40px;
                    }
                }
            }

            .parking-row-inf {
                border: 1px dashed crimson;
                background-color: $color-blanco;
                height: 90%;
                padding: 0;
                margin: 0;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;

                .parking-metricas {
                    // background-color: rgba(255, 217, 0, 0.392);
                    padding: 0px 20px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    justify-content: center;

                    #parking-tira {
                        // border: 1px dashed black;

                        p {
                            color: $color-grisoscuro;
                            font-family: $fuente-titulos;
                            font-size: 0.8rem;
                            padding: 0;
                            margin: 0;
                        }
                    }

                    .parking-dinero {
                        border-radius: 10px;
                        background-color: white;
                        padding: 5px;
                        margin-bottom: 10px;

                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        #dinero {
                            font-weight: bold;
                            color: $color-azul;
                            font-size: 25px;
                        }

                        figure {
                            width: 40px;
                            background-color: $color-celestef;
                            margin: 0;
                            padding: 0;
                            border-radius: 10px;

                            img {
                                width: 100%;
                            }
                        }

                        .parking-tarifa {
                            background-color: red;
                        }
                    }

                    .tarifa-numeros {
                        // background-color: red;

                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        .tarifa-cuadrado {
                            margin: 5px 10px;

                            .tarifa-numero {
                                color: $color-azul;
                                font-weight: bold;
                                font-size: 1.3rem;
                            }
                        }
                    }

                }

                .parking-mapa {
                    border: 10px solid white;
                    margin: 0;
                    padding: 0;

                    position: relative;

                    .parking-tiempo {
                        background-color: $color-azul;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        padding: 0;
                        margin: 0;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        position: absolute;
                        right: 10px;
                        bottom: 88%;

                        p {
                            margin: 0;
                            padding: 0;
                            color: $color-blanco;
                            font-size: 23px;
                        }
                    }

                    .parking-btn {
                        border: none;
                        border-radius: 10px;
                        background-color: $color-celestef;
                        height: 50px;
                        width: 80%;

                        position: absolute;
                        right: 10%;
                        bottom: 8px;
                    }
                }

                .parking-iconos {
                    // border: 1px dashed blue;
                    height: 55px;
                    padding: 7px 0px 0px 5px;
                    margin: 0;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    figure {
                        margin: 0;
                        padding: 0;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 25px;
                        }
                    }
                }
            }
        }
    }




}