// ----------------------------------
//     FUENTES
// ----------------------------------
$fuente-titulos: 'Roboto', sans-serif;
$fuente-subtitulos: 'Roboto', sans-serif;
$fuente-parrafos: 'Roboto', sans-serif;

// ---------------------------------
//    PALETA DE COLORES
// ---------------------------------
$color-grisoscuro: rgb(67, 67, 67);
$color-grisclaro: #cbcec7;
$color-boton-gris: #A2A69C;
$color-blanco: #eeeeee;
$color-azul: #06338A;
$color-celestef: #1CB9BC;